<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mardin.job" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activities.AddJobActivity"
            android:label="@string/title_activity_add_job" >
        </activity>
        <activity
            android:name=".activities.JobPageActivity"
            android:label="@string/title_activity_job_page" >
        </activity>
        <activity
            android:name=".activities.JobDetailActivity"
            android:label="@string/title_activity_job_detail" >
        </activity>
    <!--    <activity
            android:name=".activities.CollectedJobsActivity"
            android:label="@string/title_activity_collected_jobs" >
        </activity>   -->
        <activity
            android:name=".activities.CollectedJobListActivity"
            android:label="@string/title_activity_collected_job_list" >
        </activity>
        <activity
            android:name=".activities.PostedJobListActivity"
            android:label="@string/title_activity_posted_job_list" >
        </activity>
        <activity
            android:name=".activities.UpdateEmployerActivity"
            android:label="@string/title_activity_update_employer" >
        </activity>
        <activity
            android:name=".activities.UpdateCanActivity"
            android:label="@string/title_activity_update_can" >
        </activity>
        <activity
            android:name=".activities.WebActivity"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name=".activities.RegisterEmployeeActivity"
            android:label="@string/title_activity_register_employee" >
        </activity>
        <activity
            android:name=".activities.RegEmployerActivity"
            android:label="@string/title_activity_reg_employer" >
        </activity>


        <!-- Ryo -->
        <activity
            android:name=".activities.zhiwei.Topic"
            android:label="@string/title_activity_Topic" >
        </activity>
        <activity
            android:name=".activities.zhiwei.TopicDetail"
            android:label="@string/title_activity_TopicDetail" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Question"
            android:label="@string/question" >
        </activity>
        <activity
            android:name=".activities.zhiwei.TopicEdit"
            android:label="@string/question" >
        </activity>
        <activity
            android:name=".activities.zhiwei.TopicAdd"
            android:label="@string/question" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Quiz"
            android:label="@string/quiz" >
        </activity>
        <activity
            android:name=".activities.zhiwei.JobMarketSearch"
            android:label="@string/search" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Comment"
            android:label="@string/comment" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Personal"
            android:label="@string/personal" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PositionSearchResult"
            android:label="@string/personal" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PositionDetail"
            android:label="@string/personal" >
        </activity>

    </application>

</manifest>
