<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mardin.job" >

    <application


        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivityN"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.job.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <!--    <activity
            android:name=".activities.CollectedJobsActivity"
            android:label="@string/title_activity_collected_jobs" >
        </activity>   -->


        <!-- Ryo -->
        <activity
            android:name=".activities.zhiwei.Topic"
            android:label="@string/title_activity_Topic" >
        </activity>
        <activity
            android:name=".activities.zhiwei.TopicDetail"
            android:label="@string/title_activity_TopicDetail" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Question"
            android:label="@string/question" >
        </activity>
        <activity
            android:name=".activities.zhiwei.TopicEdit"
            android:label="@string/question" >
        </activity>
        <activity
            android:name=".activities.zhiwei.TopicAdd"
            android:label="@string/question" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Quiz"
            android:label="@string/quiz" >
        </activity>
        <activity
            android:name=".activities.zhiwei.JobMarketSearch"
            android:label="@string/search" >
        </activity>
        <activity
            android:name=".activities.zhiwei.Comment"
            android:label="@string/comment" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PositionSearchResult"
            android:label="@string/personal" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PositionDetail"
            android:label="@string/personal" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PositionSearchActivity"
            android:label="@string/position_search" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PositionTipOffActivity"
            android:label="@string/position_tip_off" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalSelfIntroduceActivity"
            android:label="@string/personal_introduce_sentence" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalMyTopicActivity"
            android:label="@string/personal_myTopic" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalFollowedActivity"
            android:label="@string/personal_followed" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalFollowerActivity"
            android:label="@string/personal_follower" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalMyQuizActivity"
            android:label="@string/personal_my_quiz" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalMyAnswerActivity"
            android:label="@string/personal_my_answer" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalMyFollowActivity"
            android:label="@string/personal_my_follow" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalMyCollectActivity"
            android:label="@string/personal_my_collect" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalMyResumeActivity"
            android:label="@string/personal_my_resume" >
        </activity>
        <activity
            android:name=".activities.zhiwei.ResumeEditActivity"
            android:label="@string/personal_my_resume_edit" >
        </activity>
        <activity
            android:name=".activities.zhiwei.PersonalApplyRecordActivity"
            android:label="@string/personal_apply_record" >
        </activity>

        <!--  Job New -->
      <!--  <activity
            android:name=".activities.job.LoginActivity"
            android:label="@string/personal_login" >
        </activity>  -->
        <activity
            android:name=".activities.job.RegisterActivity"
            android:label="@string/personal_register" >
        </activity>
        <activity
            android:name=".activities.job.RetrievePasswordActivity"
            android:label="@string/retrieve_password" >
        </activity>
        <activity
            android:name=".activities.job.PersonalEditDataActivity"
            android:label="@string/edit_data" >
        </activity>
        <activity
            android:name=".activities.job.EditResumeActivity"
            android:label="@string/personal_my_resume_edit" >
        </activity>
        <activity
            android:name=".activities.job.BaseDataActivity"
            android:label="@string/personal_base_info" >
        </activity>
        <activity
            android:name=".activities.job.JobIntentionActivity"
            android:label="@string/personal_job_intention" >
        </activity>
        <activity
            android:name=".activities.job.ImportantInfoActivity"
            android:label="@string/personal_important_info" >
        </activity>
        <activity
            android:name=".activities.job.EducationInfoActivity"
            android:label="@string/personal_education" >
        </activity>
        <activity
            android:name=".activities.job.PersonalSettingActivity"
            android:label="@string/personal_setting" >
        </activity>
        <activity
            android:name=".activities.job.FunctionScoreActivity"
            android:label="@string/function_score" >
        </activity>
        <activity
            android:name=".activities.job.InternshipsSearchActivity"
            android:label="@string/internships_search" >
        </activity>
        <activity
            android:name=".activities.job.PositionSearchActivity"
            android:label="@string/position_search" >
        </activity>
        <activity
            android:name=".activities.job.PositionDetailActivity"
            android:label="@string/position_detail" >
        </activity>
        <activity
            android:name=".activities.job.SettingFeedbackActivity"
            android:label="@string/personal_setting_feedback" >
        </activity>
    </application>
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
