<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryo.job_employer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditInfoActivity"
            android:label="@string/edit_info" >
        </activity>
        <activity
            android:name=".activities.FirmInfoActivity"
            android:label="@string/firm_info" >
        </activity>
        <activity
            android:name=".activities.MyScoreActivity"
            android:label="@string/my_score" >
        </activity>
        <activity
            android:name=".activities.MyPositionActivity"
            android:label="@string/internships_my_position" >
        </activity>
        <activity
            android:name=".activities.EditPositionActivity"
            android:label="@string/edit_position" >
        </activity>
        <activity
            android:name=".activities.PositionAdActivity"
            android:label="@string/position_ad" >
        </activity>
        <activity
            android:name=".activities.PositionFitActivity"
            android:label="@string/position_fit" >
        </activity>
        <activity
            android:name=".activities.ApplyPersonActivity"
            android:label="@string/apply_person" >
        </activity>
        <activity
            android:name=".activities.PersonalResumeActivity"
            android:label="@string/apply_person_name" >
        </activity>
        <activity
            android:name=".activities.IntervieweeActivity"
            android:label="@string/internships_interviewee" >
        </activity>
        <activity
            android:name=".activities.IntervieweeEvaluateActivity"
            android:label="@string/interviewee_evaluate" >
        </activity>
    </application>

</manifest>
